.container-about-collection {
    width:100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-thumbnail {
    width: 50%;
    margin -34px 49px 55px;
    height: 471px;
}