@import "common";
@import "colors";
@import "fonts";

.container-collection-layout {
    width: 100%;
    background-color: var(--white);
    font-size: larger;
    display: inline;
    text-align: center;
}

.headline-collection {
    font-size: 4.75rem;
    font-weight: lighter;
    margin: 1rem;
}

.text-4 {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 500;
    padding-bottom: 2.5rem;
    margin: auto;
}

.btn-btn-view {
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--light-yellow);
    padding: 15px 32px;
    text-align: center;
    letter-spacing: 0.2rem;
    font-family: var(--calibri);
    color: var(--black) !important;
    font-size: 1rem;
    font-weight: 300;
}