.cointaner_customer-section {
    background-color: var(--light-gray);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.av_img {
    width: 11rem;
    height: 11rem;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
    margin: -65px auto 20px;
}

.description-r {
    font-size: 2.25rem;
    font-family: var(--playfair-display);
    padding-bottom: 3rem;
    font-weight: 200;
}