@import "common";
@import "colors";
@import "fonts";
@import "container-collection";
 
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    margin-left: 1.5rem;
    width: 85%;
    height: 5rem;

  }
  
  .headline {
    font-size: 1.5rem;
    font-family: var(--body-fonts);
    opacity: 0.3;
  }
  
  .menu {
    margin-left: 0.3em;
    width: 15%;
  }
  
  .link {
    padding: 0.3rem;
    text-decoration: none;
  }
  
  .link:active {
    color: var(--blue);
  }
  
  .link:hover {
    color: var(--red);
  }
  
  .header-images {
    display: inline;
    overflow: hidden;
  }

  .main-image {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1;
    width: 100%;
    height: 599px;
  }

  .inside-image {
    position: absolute;
    align-items: center;
    background-color: transparent;
    z-index: 2;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
  }
