@import "common";
@import "colors";
@import "fonts";
 
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    margin-left: 1.5rem;
    width: 85%;
    height: 5rem;
  }
  
  .headline {
    font-size: 1.5rem;
    font-family: var(--body-fonts);
    opacity: 0.3;
  }
  
  .menu {
    margin-left: 0.2rem;
    width: 15%;
  }
  
  .link {
    padding: 0.3rem;
    text-decoration: none;
  }
  
  .link:active {
    color: var(--blue);
  }
  
  .link:hover {
    color: var(--red);
  }
  
  .main-image {
    background-image: url(../components/img/header_image.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  .inside-image {
    overflow: visible;
  }
