@import "colors";
@import "fonts";

* {
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
  }
  
  .massimo-dutti {
    max-width: 100vw;
    height: 100vh;
  }
  
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    margin-left: 1.5rem;
    width: 85%;
    height: 5rem;
  }
  
  .headline {
    font-size: 1.5rem;
    font-family: var(--body-fonts);
    opacity: 0.3;
  }
  
  .menu {
    margin-left: 0.2rem;
  }
  
  .link {
    padding: 0.3rem;
    text-decoration: none;
  }
  
  .link:active {
    color: var(--blue);
  }
  
  .link:hover {
    color: var(--red);
  }
  
  .header-image {
    width: 100%;
    justify-content: center;
  }
