<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="header.css">
</head>

<body>

    <div class="massimo-dutti">

         <!-- header -->

        <div class="header-container">

            <div class="logo">
                <h2 class="headline">Logo</h2>
            </div>

            <div class="menu">
                <a class="link" href="#">Home</a>
                <a class="link" href="#">About</a>
                <a class="link" href="#">Contact</a>
            </div>

        </div>

        <div class="header-images">
            <img class="main-image" src="../components/img/header_image.jpeg" alt="Header image">
            <img class="inside-image" src="../components/img/inside_image.png" alt="Massimo Dutti">
        </div>



        <!-- container-colection (second block) -->

        <div class="container-collection-layout">

            <h1 class="headline-collection"> Jewelry Collection </h1>
            <h4 class="text-4"> AUTUMN-WINTER, 2018 </h4>
            <a href="#" class="btn-btn-view" role="button"> VIEW ALL </a>

        </div>


        <!-- third section - about collection  -->

        <div class="container-about-collection">

            <img src="../components/img/woman.png" class="img-thumbnail" alt="Woman">
            <div class="text-section_2">
                <h5 class="headline-text-2"> About Collection </h5>
                <h4 class="text-4"> OBJECT OF DESIRE </h4>
                <p class="description">
                    Adding a contemporary touch to the timeless beauty of a deep water seashell, we bring innovation in
                    respect of tradition and valorize the masterful work of Italian artisans.

                    We offer a modern classics combining a funny, reckless approach with a sense of eternity. Our edgy
                    designs appeal to real people and dust off the fluff from this great ancient technique.
                </p>
                <a href="#" class="btn-btn-read" role="button"> READ MORE </a>>
            
            </div>

        </div>

    </div>

</body>

</html>