<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="header.css">
    </head>

    <body>

    <!-- header -->

        <div class="massimo-dutti">

            <div class="header-container">
                <div class="logo">
                    <h2 class="headline">Logo</h2>
                </div>
                <div class="menu">
                    <a class="link" href="#">Home</a>
                    <a class="link" href="#">About</a>
                    <a class="link" href="#">Contact</a>
                </div>
            </div>

            <div class="header-images">
                <img class="main-image" src="../components/img/header_image.jpeg" alt="Header image">
                <img class="inside-image" src="../components/img/inside_image.png" alt="Massimo Dutti">
            </div>
        </div>

    </body>

</html>
